<h1>Dashboard del Administrador</h1>

<!-- Formulario para Crear/Actualizar veterinario -->
<form (submit)="saveVeterinario()">
  <label for="name">Nombre:</label>
  <input [(ngModel)]="selectedVeterinario.nombre" name="name" required>

  <!-- Agrega aquí otros campos que necesites -->

  <button type="submit">Guardar Veterinario</button>
</form>

<!-- Lista de Veterinarios -->
<ul *ngIf="veterinarios.length > 0; else noData">
  <li *ngFor="let vet of veterinarios">
    {{ vet.nombre }}
    <button (click)="selectVeterinario(vet)">Editar</button>
    <button (click)="deleteVeterinario(vet.id)">Eliminar</button>
  </li>
</ul>
<ng-template #noData>
  <p>No hay veterinarios disponibles</p>
</ng-template>
