/* Diseño de la página general*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

.table-container
{
  flex-direction: column;
  align-items: center; /* Centrar hijos horizontalmente */
  justify-content: center; /* Centrar hijos verticalmente */
  background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco con un 70% de opacidad */
  margin: 100px auto 0 auto; /* Margen superior de 40px, centrado horizontalmente */
  border-radius: 15px; /* bordes redondeados, puedes ajustar a tu gusto */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Una ligera sombra para darle un efecto elevado */
  overflow: hidden; /* Asegura que nada sobresalga del contenedor, incluido el borde redondeado */
  max-width: 95%; /* Limita el ancho máximo para asegurar margen a los lados en vistas pequeñas */
  max-height: 600px; /* o el valor que consideres adecuado */
  overflow-y: auto; /* Añade scroll vertical sólo cuando sea necesario */
  padding: 0;
  height: 600px;
}

/* Estilos para la tabla */
.table {
  width: 100%;  /* Asegurar que la tabla ocupe el ancho de su contenedor */
  border-collapse: collapse;
  font-size: 18px;
  text-align: left;
  margin: 10px;
}

.table thead {
  border-bottom: 2px solid #026E81;  /* Color de tu paleta */
}

.table th, .table td {
  padding: 15px 20px;
}

.table tr:not(:last-child) {
  border-bottom: 1px solid #e0e0e0; /* Añade una delgada línea entre las filas para separarlas visualmente */
}

/* Estilos para los botones dentro de la tabla */
.btn {
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Asegura que el contenedor ocupe el ancho disponible */
  margin-bottom: 10px;
}

.btn-group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px; /* Establece un espacio de 5px entre los botones */
}



.btn-info {
  background-color: #026E81;  /* Color de tu paleta */
  color: #fff;
}

.btn-info:hover {
  background-color: #014d5c;  /* Oscurecer un poco al hacer hover */
}

.btn-danger {
  background-color: #cb3963;  /* Color de tu paleta */
  color: #fff;
}

.btn-danger:hover {
  background-color: #a9264f;  /* Oscurecer un poco al hacer hover */
}

.btn-primary {
  background-color: #007BFF;
  color: #FFFFFF;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #0056b3;
}


/* Estilos para el título de la página */
.titulo {
  text-align: center;
  font-size: 2.5em;
  margin-top: 20px;  /* Espaciado en la parte superior */
  color: #026E81;    /* Color de tu paleta */
}

/* Estilo para las filas de la tabla al pasar el mouse por encima */
.table tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.05); /* Cambia el color a un gris muy suave */
}
/* Transición suave para las filas de la tabla */
.table tbody tr {
  transition: background-color 0.3s ease;
}

body::before {
  content: "";
  position: fixed;  /* Se asegura de que el cuadrado quede fijo y ocupe toda la pantalla */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.6); /* Blanco con un 70% de opacidad */
  z-index: -1;  /* Se asegura de que el cuadrado quede detrás del contenido */
}



/* Estilo general del cuerpo y fondo */
body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-image: url('/assets/dashboard-veterinario/images/background.png'), linear-gradient(to bottom,rgb(118, 248, 241), #d1cdd7); /* Añadido el gradiente después de la imagen */
  background-size: cover, cover; /* La primera 'cover' corresponde a la imagen, la segunda al gradiente */
  background-repeat: no-repeat, no-repeat; /* La primera 'no-repeat' corresponde a la imagen, la segunda al gradiente */
  background-position: center center, center bottom; /* Posicionamos la imagen al centro y el gradiente abajo */
  height: 100vh; /* Considera si este ajuste es apropiado dependiendo del contenido de tu página */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #6faec5;  /* Se mantiene este color azulado como color de fondo base */
  min-height: 100vh;
}
/* Fin de estilo general del cuerpo y fondo */

/* Estilos del Switch (Veterinario activo o inactivo)  */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ca4747;  /* Rojo por defecto */
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #72ca47;  /* Verde cuando está activo */
}

.on {
  background-color: #72ca47;  /* Verde cuando está activo, sin depender de :checked */
}

input:focus + .slider {
  box-shadow: 0 0 1px #72ca47;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Sliders redondeados */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.statistics-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0; /* Más espacio arriba y abajo del botón */
}

.btn-statistics {
  background-color: #026E81;
  color: #fff;
  padding: 20px 40px; /* Mayor espaciado interno para hacer el botón más grande */
  border-radius: 30px; /* Bordes más redondeados */
  text-decoration: none;
  font-weight: bold;
  font-size: 24px; /* Tamaño de texto más grande */
  transition: background-color 0.3s ease;
  display: flex; /* Para alinear el ícono y el texto verticalmente */
  flex-direction: column; /* Para poner el ícono arriba del texto */
  align-items: center; /* Centrar el ícono y el texto horizontalmente */
  gap: 10px; /* Espacio entre el ícono y el texto */
}

.btn-statistics:hover {
  background-color: #014d5c;
}

.btn-statistics i {
  font-size: 50px; /* Hacer el ícono más grande */
}







/* Footer */
.vet-footer {
  background-color: #A1C7E0;
  color: #026E81;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-content {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.social-media, .footer-links, .footer-contact {
  flex: 1;
  text-align: center;
}

.social-icon {
  margin: 0 15px;
  font-size: 24px;
}

.footer-links a {
  margin: 0 10px;
  color: #026E81;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-bar {
  margin-top: 20px;
  width: 100%;
  background-color: #026E81;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}
/*Fin del Footer */
