<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/Dashboard-Mascotas/stylesDashboardMascotas.css">
  <title>Dr. Paws - Información de mascotas</title>

  <!-- Font  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;800;900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Borel&display=swap" rel="stylesheet">
  <!-- Fin del Font  -->

  <!-- Footer-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <!-- Fin del Footer-->
</head>

<body>

<!-- Header -->
<header>
  <a [routerLink]="['/home']"  class="logo">DR.PAWS</a>
  <ul>
    <li><a [routerLink]="['/home']" class="active">Home</a></li>
    <li><a [routerLink]="['/porque-nosotros']">About</a></li>
    <li><a [routerLink]="['/login-administrativo']">Login Administrativo</a></li>
    <li><a [routerLink]="['/login-usuario']">Login Usuario</a></li>
    <li><a [routerLink]="['/contacto']">Contact</a></li>
  </ul>
</header>
<!-- Fin del Header -->

<div class="table-container">
  <p class="titulo">
    Veterinarios de la veterinaria Dr. Paws
  </p>

  <table class="table table-success table-striped center">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Especialidad</th>
      <th scope="col">Activo</th>
      <th scope="col">Estado</th>
      <th scope="col">Acciones</th>
    </tr>
    </thead>
    <tbody>
    <!-- Angular loop to iterate over veterinarios -->
    <tr *ngFor="let veterinario of veterinarios; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ veterinario.nombre }}</td>
      <td>{{ veterinario.especialidad }}</td>
      <td>{{ veterinario.activo ? 'Sí' : 'No' }}</td>
      <td>
        <label class="switch">
          <input type="checkbox" [(ngModel)]="veterinario.activo" (change)="onChangeActive(veterinario)">
          <span class="slider round" [ngClass]="{'on': veterinario.activo}"></span>
        </label>
      </td>
      <td>
        <div class="btn-group">
          <!-- Buttons for actions -->
          <a class="btn btn-primary" [routerLink]="['/visualizar-mascota', veterinario.id]"> <!-- TODO -->
            <i class="fas fa-eye"></i>
          </a>
          <a class="btn btn-info" [routerLink]="['/login-administrativo/dashboard-veterinarios/modificar-mascota', veterinario.id]"> <!-- TODO -->
            <i class="fas fa-pencil-alt"></i>
          </a>
          <a class="btn btn-danger" (click)="deleteVeterinario(veterinario.id)">
            <i class="fas fa-trash"></i>
          </a>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="btn-container">
    <a class="btn btn-info" routerLink="/login-administrativo/dashboard-administrador/crear-veterinario">
      <i class="fas fa-plus"></i>
    </a>
  </div>
</div>


<!-- Footer -->    <!-- Footer-->
<footer class="vet-footer">
  <div class="footer-content">
    <div class="social-media">
      <a href="#" class="social-icon"><i class="fab fa-twitter" style="color: #0099DD;"></i></a>
      <a href="#" class="social-icon"><i class="fab fa-youtube" style="color: #fa2828;"></i></a>
      <a href="#" class="social-icon"><i class="fab fa-instagram" style="color: #FF9944;"></i></a>
    </div>

    <div class="footer-links">
      <a href="#">Inicio</a>
      <a href="#">Servicios</a>
      <a href="/contacto">Contacto</a>
      <a href="/porqueNosotros">Acerca de</a>
      <a href="/porqueNosotros/testimonios">Testimonios</a>
    </div>

    <div class="footer-contact">
      <p>Teléfono: (123) 456-7890</p>
      <p>Email: woof-woof@veterinariadrpaws.com</p>
    </div>
  </div>
  <div class="footer-bar">
    <p>&copy; 2023 Veterinaria Dr. Paws - Todos los derechos reservados.</p>
  </div>
</footer>
<!-- Fin del Footer-->

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const container = document.querySelector('.table-container');
    console.log("Altura del contenedor:", container.scrollHeight);
    console.log("Altura visible:", container.clientHeight);
    console.log("Diferencia (esto debe ser cercano al desplazamiento máximo):", container.scrollHeight - container.clientHeight);
  });
</script>

</body>
</html>
