<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dr. Paws - Dashboard del Veterinario</title>

  <!-- Font  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;800;900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Borel&display=swap" rel="stylesheet">
  <!-- Fin del Font  -->

  <!-- Footer-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <!-- Fin del Footer-->
</head>

<body>

<!-- Header -->
<app-header></app-header>
<!-- Fin del Header -->

<ng-container *ngIf="userRoles.includes('VETERINARIO'); else adminContent" >
  <div class="greeting-container">
    <div class="greeting-box">
      Nombre del Veterinario: {{ veterinario?.nombre }}
    </div>
    <div class="greeting-box">
      Especialización del Veterinario: {{ veterinario?.especialidad }}
    </div>
  </div>
</ng-container>

<ng-template #adminContent>
  <div class="greeting-container">
    <div class="greeting-box">
      Bienvenido: Admin
    </div>
    <div class="greeting-box">
      Cargo: Administración
    </div>
  </div>
</ng-template>



<div class="table-container">
  <div class="headerTable-container">
    <p class="titulo">
      Mascotas de la veterinaria Dr. Paws
    </p>

    <div class="container">
      <div class="btn-container">
        <a class="btn btn-info" id="AgregarMascota" (click)="agregarMascota()">
          <i class="fas fa-plus">   Agregar mascota</i>
        </a>
      </div>

      <div class="btn-container">
        <a class="btn btn-info" id="AgregarUsuario" (click)="agregarUsuario()">
          <i class="fas fa-plus">   Agregar Usuario</i>
        </a>
      </div>

      <ng-container *ngIf="userRoles.includes('VETERINARIO')" >
        <div class="btn-container">
          <a class="btn btn-info" id="salirCuenta" (click)="salirCuenta()">
            <i class="fas fa-sign-out-alt">  Salir de la cuenta</i>
          </a>
        </div>
      </ng-container>


    </div>

  </div>

  <table class="table table-success table-striped center">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Raza</th>
      <th scope="col">Edad</th>
      <th scope="col">Peso</th>
      <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <!-- Angular loop to iterate over mascotas -->
    <tr *ngFor="let mascota of listaDeMascotas; let i = index">
      <td class="Numero-de-mascotas-cargadas">{{ i + 1 }}</td>
      <td>{{ mascota.nombre }}</td>
      <td>{{ mascota.raza }}</td>
      <td>{{ mascota.edad }} años</td>
      <td>{{ mascota.peso }} Kg</td>
      <td>
        <div class="btn-group">
          <!-- Buttons for actions -->
          <a class="btn btn-primary" (click)="visualizarMascota(mascota.id!)">
            <i class="fas fa-eye"></i>
          </a>
          <a class="btn btn-info" (click)="editarMascota(mascota.id!)">
            <i class="fas fa-pencil-alt"></i>
          </a>
          <a class="btn btn-danger" (click)="deleteMascota(mascota.id)">
            <i class="fas fa-trash"></i>
          </a>
          <a class="btn btn-info" [routerLink]="['/login-administrativo/dashboard-veterinarios/asignar-tratamiento', veterinario?.id, mascota.id]">
            <i class="fas fa-syringe"></i>
          </a>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>


<!-- Footer -->    <!-- Footer-->
<footer class="vet-footer">
  <div class="footer-content">
    <div class="social-media">
      <a href="#" class="social-icon"><i class="fab fa-twitter" style="color: #0099DD;"></i></a>
      <a href="#" class="social-icon"><i class="fab fa-youtube" style="color: #fa2828;"></i></a>
      <a href="#" class="social-icon"><i class="fab fa-instagram" style="color: #FF9944;"></i></a>
    </div>

    <div class="footer-links">
      <a href="#">Inicio</a>
      <a href="#">Servicios</a>
      <a href="/contacto">Contacto</a>
      <a href="/porqueNosotros">Acerca de</a>
      <a href="/porqueNosotros/testimonios">Testimonios</a>
    </div>

    <div class="footer-contact">
      <p>Teléfono: (123) 456-7890</p>
      <p>Email: woof-woof&#64;veterinariadrpaws.com</p>
    </div>
  </div>
  <div class="footer-bar">
    <p>&copy; 2023 Veterinaria Dr. Paws - Todos los derechos reservados.</p>
  </div>
</footer>
<!-- Fin del Footer-->
</body>
</html>
