<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Dr. Paws - Login de Usuarios</title>

  <!-- Font  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;800;900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Borel&display=swap" rel="stylesheet">
  <!-- Fin del Font  -->

  <!-- Footer-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <!-- Fin del Footer-->
</head>
<body>
<!-- Header -->
<app-header></app-header>
<!-- Fin del Header -->

<!-- Formulario de login de usuario) -->
<div class="login-container">
  <h2>Iniciar sesión Usuario</h2>
  <form (submit)="onLogin()">
    <div class="form-group">
      <label for="correo">ID de Usuario:</label>
      <input type="text" id="correo" name="correo" [(ngModel)]="formUser.correo" required>
    </div>
    <button type="submit" id="botonIngresar">Ingresar</button>
  </form>
</div>

<!-- Mensaje de Error -->
<div *ngIf="errorMessage" id="error-box">
  <p>{{errorMessage}}</p>
</div>


<!-- Footer -->
<footer class="vet-footer">
  <div class="footer-content">
    <div class="social-media">
      <a href="#" class="social-icon"><i class="fab fa-twitter" style="color: #0099DD;"></i></a>
      <a href="#" class="social-icon"><i class="fab fa-youtube" style="color: #fa2828;"></i></a>
      <a href="#" class="social-icon"><i class="fab fa-instagram" style="color: #FF9944;"></i></a>
    </div>

    <div class="footer-links">
      <a href="#">Inicio</a>
      <a href="#">Servicios</a>
      <a href="/contacto">Contacto</a>
      <a href="/porqueNosotros">Acerca de</a>
      <a href="/porqueNosotros/testimonios">Testimonios</a>
    </div>

    <div class="footer-contact">
      <p>Teléfono: (123) 456-7890</p>
      <p>Email: woof-woof@veterinariadrpaws.com</p>
    </div>
  </div>
  <div class="footer-bar">
    <p>&copy; 2023 Veterinaria Dr. Paws - Todos los derechos reservados.</p>
  </div>
</footer>
</body>
</html>
