<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dr. Paws - Crear una mascotas</title>

  <!-- Font  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;800;900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Borel&display=swap" rel="stylesheet">
  <!-- Fin del Font  -->

  <!-- Footer-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <!-- Fin del Footer-->
</head>


<body>

<!-- Header -->
<app-header></app-header>
<!-- Fin del Header -->


<div class="container">
  <form [formGroup]="mascotaForm" (ngSubmit)="onSubmit()">
    <div class="titulo">Registro de la mascota</div>
    <div class="user-details">

      <!-- Nombre -->
      <div class="form-group">
        <label for="nombre">Nombre</label>
        <input formControlName="nombre" type="text" class="form-control" id="nombre"
               placeholder="Nombre de la mascota">
        <div *ngIf="mascotaForm.controls['nombre'].invalid && (mascotaForm.controls['nombre'].dirty || mascotaForm.controls['nombre'].touched)"
             class="error">
          Nombre es requerido.
        </div>
      </div>


      <!-- Raza -->
      <div class="form-group">
        <label for="raza">Raza</label>
        <input formControlName="raza" type="text" class="form-control" id="raza"
               placeholder="Raza de la mascota">
        <div *ngIf="mascotaForm.controls['raza'].invalid && (mascotaForm.controls['raza'].dirty || mascotaForm.controls['raza'].touched)"
             class="error">
          Raza es requerido.
        </div>
      </div>


      <!-- Edad -->
      <div class="form-group">
        <label for="edad">Edad</label>
        <input formControlName="edad" type="number" class="form-control" id="edad"
               placeholder="Edad de la mascota">
        <div *ngIf="mascotaForm.controls['edad'].invalid && (mascotaForm.controls['edad'].dirty || mascotaForm.controls['edad'].touched)"
             class="error">
          Edad es requerida y debe ser un número positivo.
        </div>
      </div>


      <!-- Peso -->
      <div class="form-group">
        <label for="peso">Peso</label>
        <input formControlName="peso" type="number" class="form-control" id="peso"
               placeholder="Peso de la mascota" step="0.01">
        <div *ngIf="mascotaForm.controls['peso'].invalid && (mascotaForm.controls['peso'].dirty || mascotaForm.controls['peso'].touched)"
             class="error">
          Peso es requerido y debe ser un número positivo.
        </div>
      </div>


      <!-- Enfermedad -->
      <div class="form-group">
        <label for="enfermedad">Enfermedad</label>
        <input formControlName="enfermedad" type="text" class="form-control" id="enfermedad"
               placeholder="Enfermedad">
        <div *ngIf="mascotaForm.controls['enfermedad'].invalid && (mascotaForm.controls['enfermedad'].dirty || mascotaForm.controls['enfermedad'].touched)"
             class="error">
          Enfermedad es requerida.
        </div>
      </div>

      <!-- Dueño -->
      <div class="form-group">
        <label for="cedulaDueno">Cédula del Dueño</label>
        <input type="number" list="dueños" formControlName="cedulaDueno" class="form-control" id="cedulaDueno">
        <datalist id="dueños">
          <option *ngFor="let usuario of usuarios" [value]="usuario.cedula">{{ usuario.cedula }}</option>
        </datalist>
        <div *ngIf="mascotaForm.controls['cedulaDueno'].invalid && (mascotaForm.controls['cedulaDueno'].dirty || mascotaForm.controls['cedulaDueno'].touched)"
             class="error">
          Debes ingresar o seleccionar la cédula del dueño.
        </div>
      </div>



    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!mascotaForm.valid">Enviar</button>
  </form>
</div>



<!-- Footer -->    <!-- Footer-->
<footer class="vet-footer">
  <div class="footer-content">
    <div class="social-media">
      <a href="#" class="social-icon"><i class="fab fa-twitter" style="color: #0099DD;"></i></a>
      <a href="#" class="social-icon"><i class="fab fa-youtube" style="color: #fa2828;"></i></a>
      <a href="#" class="social-icon"><i class="fab fa-instagram" style="color: #FF9944;"></i></a>
    </div>

    <div class="footer-links">
      <a href="#">Inicio</a>
      <a href="#">Servicios</a>
      <a href="/contacto">Contacto</a>
      <a href="/porqueNosotros">Acerca de</a>
      <a href="/porqueNosotros/testimonios">Testimonios</a>
    </div>

    <div class="footer-contact">
      <p>Teléfono: (123) 456-7890</p>
      <p>Email: woof-woof@veterinariadrpaws.com</p>
    </div>
  </div>
  <div class="footer-bar">
    <p>&copy; 2023 Veterinaria Dr. Paws - Todos los derechos reservados.</p>
  </div>
</footer>
<!-- Fin del Footer-->
</body>
</html>
