<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dr. Paws - Creación de un veterinario</title>

  <!-- Font  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700;800;900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Borel&display=swap" rel="stylesheet">
  <!-- Fin del Font  -->

  <!-- Footer-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <!-- Fin del Footer-->
</head>


<body>
<!-- Header -->
<app-header></app-header>
<!-- Fin del Header -->


<div class="container">
  <form [formGroup]="usuarioForm" (ngSubmit)="onSubmit()">
    <div class="titulo">Registro de Usuario</div>
    <div class="user-details">

      <!-- Cédula -->
      <div class="form-group">
        <label for="cedula">Cédula</label>
        <input formControlName="cedula" type="text" class="form-control" id="cedula"
               placeholder="Cédula del usuario">
        <div *ngIf="usuarioForm.controls['cedula'].invalid &&
                    (usuarioForm.controls['cedula'].dirty ||
                    usuarioForm.controls['cedula'].touched)"
             class="error">
          Cédula es requerida.
        </div>
      </div>

      <!-- Nombre -->
      <div class="form-group">
        <label for="nombre">Nombre</label>
        <input formControlName="nombre" type="text" class="form-control" id="nombre"
               placeholder="Nombre del usuario">
        <div *ngIf="usuarioForm.controls['nombre'].invalid &&
                    (usuarioForm.controls['nombre'].dirty ||
                    usuarioForm.controls['nombre'].touched)"
             class="error">
          Nombre es requerido.
        </div>
      </div>

      <!-- Email -->
      <div class="form-group">
        <label for="correo">Email</label>
        <input formControlName="correo" type="email" class="form-control" id="correo"
               placeholder="Email del usuario">
        <div *ngIf="usuarioForm.controls['correo'].invalid &&
                    (usuarioForm.controls['correo'].dirty ||
                    usuarioForm.controls['correo'].touched)"
             class="error" id="error-por-correo-de-usuario">
          Email es requerido y debe ser válido.
        </div>
      </div>

      <!-- Celular -->
      <div class="form-group">
        <label for="celular">Celular</label>
        <input formControlName="celular" type="text" class="form-control" id="celular"
               placeholder="Celular del usuario">
        <div *ngIf="usuarioForm.controls['celular'].invalid &&
                    (usuarioForm.controls['celular'].dirty ||
                    usuarioForm.controls['celular'].touched)"
             class="error">
          Celular es requerido.
        </div>
      </div>

      <!-- Contraseña -->
      <div class="form-group">
        <label for="contrasenna">Contraseña</label>
        <input formControlName="contrasenna" type="password" class="form-control" id="contrasenna"
               placeholder="Contraseña del usuario">
        <div *ngIf="usuarioForm.controls['contrasenna'].invalid &&
                    (usuarioForm.controls['contrasenna'].dirty ||
                    usuarioForm.controls['contrasenna'].touched)"
             class="error">
          Contraseña es requerida.
        </div>
      </div>

    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!usuarioForm.valid">Registrar</button>
  </form>
</div>





<!-- Footer -->    <!-- Footer-->
<footer class="vet-footer">
  <div class="footer-content">
    <div class="social-media">
      <a href="#" class="social-icon"><i class="fab fa-twitter" style="color: #0099DD;"></i></a>
      <a href="#" class="social-icon"><i class="fab fa-youtube" style="color: #fa2828;"></i></a>
      <a href="#" class="social-icon"><i class="fab fa-instagram" style="color: #FF9944;"></i></a>
    </div>

    <div class="footer-links">
      <a href="#">Inicio</a>
      <a href="#">Servicios</a>
      <a href="/contacto">Contacto</a>
      <a href="/porqueNosotros">Acerca de</a>
      <a href="/porqueNosotros/testimonios">Testimonios</a>
    </div>

    <div class="footer-contact">
      <p>Teléfono: (123) 456-7890</p>
      <p>Email: woof-woof@veterinariadrpaws.com</p>
    </div>
  </div>
  <div class="footer-bar">
    <p>&copy; 2023 Veterinaria Dr. Paws - Todos los derechos reservados.</p>
  </div>
</footer>
<!-- Fin del Footer-->
</body>
</html>
